
    .boton {
      background-color: #F7D922;   
      color: black;               
      padding: 25px 35px;         
      border: none;               
      border-radius: 10px;         
      cursor: pointer;             
      transition: all 0.3s ease;   
    }

    .boton:hover {
      background-color: #E52922;  
      transform: scale(1.1);       
      box-shadow: 0 4px 12px rgba(0,0,0,0.3); 
    }

  