.titulo {
    display: flex;
    align-items: center; 
    gap: 100px;         
    margin: auto;       
}

.mi-imagen {
    width: 220px;
    height: auto;
}

.contenido-texto {
    font-family: broadway;
    line-height: 1.6;
    font-size: 80px;
}

p {
    
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.2;
}


.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: auto;        
    width: auto;     
}

.texto {
    text-align: center;      
    padding: 20px;
    font-family: broadway;
    font-size: 40px;
}


.imagenes {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    gap: 60px;                
    margin: 10;           
}

.foto {
    width: 250px;           
    height: 250px;             
    border-radius: 5px;      
}

.container {
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #45a049;
}



