
  .instagram {
    background-color: rgb(40, 36, 36);   
    color: black;               
    padding: 10px 10px;         
    border: none;               
    border-radius: 6px;         
    cursor: pointer;             
    transition: all 0.3s ease;   
  }

  .instagram:hover { 
    transform: scale(1.1);       
  }
